 
body
{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(Background/wallpaperflare.com_wallpaper\ \(4\).jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;

}
.contrainer{
    background: #000;
    width: 100%;
    border: 1px solid black;
    margin: 0;


}
.form
{
    background: transparent;
    width: 30%;
    height: 550px;
    margin-left: 35%;
    border: 3px solid aqua;
    border-radius: 10px;
    align-items: center;
}
img{
    margin-left: 28%;
    margin-top: 2%;

}
h1
{
    color: yellow;
    text-align: center;
}
label
{
    
    margin-left: 100px;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    display: block;
    margin-top: 20px;
    float: left;
    color: whitesmoke;
    
}

.text-input
{
    background: transparent;
    color: #000;
    width: 50%;
    height: 30px;
    border-radius: 5px;
    border: 2px solid yellowgreen;
    margin-left: 100px;
    padding-left: 10px;
    color: #fff;
     
}
.btn
{
    background: orangered;
    width: 50%;
    height: 40px;
    margin-left: 110px;
    margin-top: 30px;
    border-radius: 5px;
    border-color: yellow;
    font-size: 20px;
    font-weight: bold;
     
}
.btn:hover
{
    background: purple;
    color: #fff;
    transform: 0.3s ease;
    transform: translateX(0.5);
}
